@import url("asset/font/Kunlasatri/stylesheet.css");
body{
  font-family: Kunlasatri !important;
  font-size: 20px;
  font-style: #000000;

  /* background-color:#f2f2f2  !important ; */
  color: #000000;
}
textarea.ant-input {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  -webkit-transition: all 0.3s, height 0s;
  transition: all 0.3s, height 0s;
  min-height: 32px;
  font-size: 20px;
}
.ant-input {
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  font-variant: tabular-nums;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  padding: 4px 11px;
  width: 100%;
  height: 32px;
  font-size: 20px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
input:not([type='range']), label, select, summary, textarea {
  touch-action: manipulation;
  font-size: 20px;
}


.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
 
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #000000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.bg-light {
  background-color: #b8722c;
}



footer.page-footer {
  padding-top: 20px;
  background-color: #ffffff;
}
footer.page-footer .footer-copyright {
  font-weight: 300;
  background-color:  #4dd2ff;
  min-height: 20vh; 
  min-height: 100%;
  height: 50px;

left:0;
bottom:0;
right:0;
}
.SideNav{
  font-size: 15px;
  color: #000000;
  text-align: left;
}
.side-nav {
  position: fixed;
  width: 237px;
  left: 0;
  top: 0;
  margin: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: #f5f5f0;
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}
.side-nav a {
  color: #1a75ff;
  display: block;
  font-size: 22px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
}

.borders{
  border: 2px solid rgb(128, 255, 255);
  border-radius: 10px;
  font-size: 20px;
  width: 60%;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  line-height: 0px;
  align-items: flex-end;
  
}
.borders_p{
  border: 2px  rgb(128, 255, 255);

  font-size: 25px;
  border-left-style: dotted;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  
}
.borders_p_2{
  border: 2px  rgb(128, 255, 255);

  font-size: 15px;
  
  text-align: center;
  background-color: #fff;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  
}
.register-paper-2 {
  display: flex;
  padding: 16px 24px 24px;
  margin-top: 64px;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.ReactTable .-pagination {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 3px;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
  border-top: 2px solid rgba(0,0,0,0.1);
  height: 44px;
}



/* .ReactTable .-pagination input, .ReactTable .-pagination select {
  border: 1px solid rgba(0,0,0,0.1);
  background: #fff;
  
  font-size: inherit;
  border-radius: 3px;
  font-weight: normal;
  outline: none;
  height: initial;
} */
/* .ReactTable .-pagination .-pageJump input {
  width: 70px;
  text-align: center;
  margin-top: 20px;
} */
/* .ReactTable .-pagination .-center {
  flex: 1.0 ;
  text-align: center;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
} */



.default_button {
  width: 200px;
  height: 30px;
  border-radius: 9px;
  background-color: transparent;
  color: #222;
  border: 1.3px solid #d9d9d9;
  box-shadow: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  font-size: 20px;
  font-weight:bold;
  transition: .5s;
  font-family: Kunlasatri;
}

.default_button:hover {
  border: 1.3px solid  #00b8e6;
  width: 200px;
  height: 30px;
  border-radius: 9px;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  font-size: 20px;
  font-weight:bold;
  transition: .5s;
  font-family: Kunlasatri;
  color: #00b8e6;
}


.nav-tabs .nav-link {
  /* border: 1px solid transparent; */
  /* border-top-left-radius: .25rem; */
  /* border-top-right-radius: .25rem; */
}
.nav-tabs {
  /* border-bottom: 1px solid #dee2e6; */
  /* background-color: #33ccff; */
  width: -webkit-fill-available;
  
}
.nav-link {
  display: block;
  padding: .5rem 1rem;
  color: #ffff
}
a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
 
  font-size: 25px;
  /* background-color: #33ccff */
  
}

/* .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
} */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ebebe0;

 
  z-index: 1;
}

.dropdown-content a {
  color: #33ccff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgb(255, 255, 255);}

.dropdown:hover .dropdown-content {display: block;}

/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */